<section class="hero" id="home">
  <div class="hero__background" 
       [ngClass]="{'hero__background--fading': isFading()}"
       [style.backgroundImage]="'url(' + currentImage().url + ')'"
       [style.--next-image]="nextImage() ? 'url(' + nextImage()?.url + ')' : 'none'">
  </div>
  
  <div class="hero__content">
    <div class="hero__content-wrapper">
      <h1 class="hero__title">Udruženje Građana "Podveležje"</h1>
      <div class="hero__subtitle-container">
        <p class="hero__subtitle" 
           [ngClass]="{'hero__subtitle--visible': isSubtitleVisible()}"
           [innerHTML]="currentSubtitle()"></p>
      </div>
      <div class="hero__button-container">
        <a href="javascript:void(0)" class="hero__cta-button bounce" (click)="scrollToSection('about')">Saznaj više</a>
      </div>
    </div>
  </div>
</section>
