<section class="about">
  <div class="about__header">
    <h1 class="about__title">O nama</h1>
    <div class="about__divider"></div>
  </div>

  <div class="about__content">
    <!-- History of Podvelezje Region -->
    <div class="about__section about__region-history">
      <div class="about__image-container">
        <img src="https://podvelezje.ba/assets/images/about/about-history.jpg" alt="Historical photo of Podvelezje" class="about__image">
      </div>
      <div class="about__text">
        <h2 class="about__subtitle">Historija Podveležja</h2>
        <p class="about__paragraph">
          Podveležje je regija bogata historijom koja seže daleko u prošlost. Ova područja su bila svjedoci 
          mnogih civilizacija i kultura koje su oblikovale jedinstveni identitet regije Podveležje. Smješteno na 
          padinama planine Velež, Podveležje je oduvijek bilo raskršće različitih puteva i kultura u hercegovačkom kraju.
        </p>
        <p class="about__paragraph">
          Kroz vjekove, Podveležje je bilo poznato po svojoj prirodnoj ljepoti, bogatim planinskim resursima planine Velež i 
          gostoljubivim ljudima. Tradicionalni način života, stočarstvo i poljoprivreda bili su temelj 
          ekonomije regije Podveležje, a mnogobrojna sela Podveležja su čuvala bogatstva folklora i običaje.
        </p>
        <p class="about__paragraph">
          Planina Velež, koja dominira krajolikom Podveležja, nije samo geografska odrednica, već i duhovna inspiracija 
          za generacije koje su živjele na padinama Veleža u regiji Podveležje. Šume i livade planine Velež predstavljale su 
          bitan dio života i tradicije Podveležja koja se prenosi s koljena na koljeno. 
          Saznajte više o <a routerLink="/" fragment="location-map">geografskoj poziciji Podveležja</a>.
        </p>
      </div>
    </div>

    <div class="about__divider about__divider--small"></div>

    <!-- Geographic Information -->
    <div class="about__section about__geography">
      <div class="about__text">
        <h2 class="about__subtitle">Geografska pozicija Podveležja</h2>
        <p class="about__paragraph">
          Podveležje se nalazi u jugoistočnom dijelu Bosne i Hercegovine, u Hercegovačko-neretvanskom kantonu. 
          Regija Podveležje graniči sa općinskim centrima Mostara, Konjica i Nevesinja, čineći važnu geografsku 
          poveznicu između ovih urbanih centara.
        </p>
        <p class="about__paragraph">
          Planina Velež, koja se prostire kroz regiju Podveležje, dostiže nadmorsku visinu od 1.969 metara na 
          svom vrhu. Podveležje zauzima jugoistočne padine ove planine, na visinama od 400 do 1.200 metara, 
          što čini područje izuzetno pogodnim za raznovrsne prirodne i kulturne aktivnosti.
        </p>
        <div class="about__geographic-details">
          <h3>Ključne geografske informacije:</h3>
          <ul>
            <li><strong>Koordinate:</strong> 43°18'37"N, 17°54'20"E</li>
            <li><strong>Nadmorska visina:</strong> 400-1.200 m</li>
            <li><strong>Kanton:</strong> Hercegovačko-neretvanski</li>
            <li><strong>Najbliži grad:</strong> Mostar (25 km)</li>
            <li><strong>Planina:</strong> Velež (vrh: 1.969 m)</li>
          </ul>
        </div>
      </div>
      <div class="about__map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28820.91848342737!2d17.872872547528154!3d43.30878576473168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b5dc0bc5ac4df%3A0x3a5611e0544cdddd!2zUG9kdmVsZcW-!5e1!3m2!1sen!2sba!4v1757365593059!5m2!1sen!2sba" 
                width="100%" 
                height="400" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"
                title="Mapa Podveležja - geografska pozicija regije Podveležje">
        </iframe>
      </div>
    </div>

    <div class="about__divider about__divider--small"></div>

    <!-- History of the Association -->
    <div class="about__section about__association-history">
      <div class="about__text">
        <h2 class="about__subtitle">Historija Udruženja</h2>
        <p class="about__paragraph">
          Udruženje Građana "Podveležje" osnovano je 2024. godine iz potrebe za organizovanim pristupom očuvanju 
          kulturne baštine i tradicije našeg kraja. Grupa entuzijasta, predvođena ljubavlju prema rodnom kraju, 
          pokrenula je inicijativu koja treba da ujedini ljude različitih generacija oko zajedničkih ciljeva.
        </p>
        <p class="about__paragraph">
          Prvi koraci udruženja bili su usmjereni na dokumentovanje lokalnih običaja Podveležja, prikupljanje 
          fotografija i priča starijih mještana regije Podveležje, te organizovanje kulturnih događanja koja bi održala 
          žive tradicije Podveležja. Kroz godine rada, udruženje je postalo prepoznatljivo po svojim 
          aktivnostima u oblasti kulturne promocije Podveležja i zaštite prirode planine Velež.
        </p>
        <p class="about__paragraph">
          Od skromnih početaka s nekoliko članova, udruženje je izraslo u organizaciju koja broji preko 
          200 članova različitih uzrasta. Naše aktivnosti su se proširile na područja edukacije, 
          održivog razvoja, turizma i međuregionalne saradnje, što nas čini važnim faktorom u razvoju 
          lokalne zajednice.
        </p>
        <p class="about__paragraph">
          Kroz prethodnu godinu rada, uspjeli smo organizovati brojne manifestacije u Podveležju, izložbe, predavanja i 
          radionice koje su doprinijele promociji regije Podveležje i očuvanju kulturnog identiteta Podveležja. 
          Naši projekti vezani za Podveležje su prepoznati i na regionalnom nivou u saradnji sa našom dijasporom, što nam daje dodatnu motivaciju za 
          buduće aktivnosti u promociji planine Velež.
        </p>
      </div>
      <div class="about__image-container">
        <img src="https://podvelezje.ba/assets/images/logo/logo-cover.jpg" alt="Association activities" class="about__image">
      </div>
    </div>

    <div class="about__divider about__divider--small"></div>

    <!-- Goals and Mission -->
    <div class="about__section about__goals">
      <div class="about__text-full">
        <h2 class="about__subtitle">Ciljevi i aktivnosti Udruženja</h2>
        <p class="about__paragraph">
          Naši ciljevi su usmjereni ka svestranom razvoju i promociji Podveležja kao regije bogate 
          prirodnim ljepotama planine Velež, kulturnim bogatstvom i tradicijom Podveležja. Radimo na nekoliko ključnih područja 
          koja čine srž naše djelatnosti u razvoju Podveležja.
        </p>
        
        <div class="about__goals-list">
          <div class="about__goal-item">
            <h3 class="about__goal-title">Očuvanje kulturne baštine</h3>
            <p class="about__paragraph">
              Dokumentujemo i čuvamo tradicijske pjesme, priče, zanate i običaje koji čine bogatu 
              kulturnu baštinu Podveležja. Organizujemo radionice tradicionalnih zanata i kulturne 
              događaje koji omogućavaju prenošenje znanja na mlađe generacije.
            </p>
          </div>
          
          <div class="about__goal-item">
            <h3 class="about__goal-title">Zaštita prirode i okoliša</h3>
            <p class="about__paragraph">
              Aktivno učestvujemo u projektima zaštite prirode, čišćenju terena, označavanju 
              planinarskih staza i edukaciji o značaju očuvanja prirodnih resursa. Promovišemo 
              ekološki odgovoran pristup razvoju turizma.
            </p>
          </div>
          
          <div class="about__goal-item">
            <h3 class="about__goal-title">Promocija turizma</h3>
            <p class="about__paragraph">
              Radimo na promociji Podveležja kao turističke destinacije kroz organizovanje 
              manifestacija u Podveležju, izradu promocijskih materijala o regiji Podveležje i saradnju s turističkim organizacijama. 
              Trudimo se da pokažemo ljepote Podveležja i planine Velež široj javnosti. 
              Otkrijte <a routerLink="/" fragment="villages">sela Podveležja</a> i 
              <a routerLink="/" fragment="access-info">kako doći do Podveležja</a>.
            </p>
          </div>
          
          <div class="about__goal-item">
            <h3 class="about__goal-title">Edukacija i razvoj</h3>
            <p class="about__paragraph">
              Organizujemo edukativne programe, predavanja i radionice koje doprinose razvoju 
              vještina članova zajednice. Posebnu pažnju posvećujemo edukaciji mladih o historiji 
              i tradiciji našeg kraja.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="about__divider about__divider--small"></div>

    <!-- Mission and Vision -->
    <div class="about__section about__mission-vision">
      <div class="about__card about__mission">
        <h2 class="about__subtitle">Naša misija</h2>
        <p class="about__paragraph">
          Naša misija je očuvanje kulturnog i prirodnog bogatstva Podveležja kroz edukaciju, 
          promociju tradicionalnih vrijednosti i stvaranje održivih razvojnih projekata koji će 
          doprinijeti dobrobiti zajednice i očuvanju jedinstvenog identiteta našeg područja.
        </p>
        <p class="about__paragraph">
          Težimo da budemo most između tradicije i modernosti, omogućavajući da se bogata historija 
          našeg kraja sačuva i prenese budućim generacijama, istovremeno prilagođavajući se 
          savremenim potrebama i izazovima.
        </p>
      </div>

      <div class="about__card about__vision">
        <h2 class="about__subtitle">Naša vizija</h2>
        <p class="about__paragraph">
          Vizija Udruženja je Podveležje kao prosperitetna zajednica koja harmonično spaja svoje 
          bogato naslijeđe sa savremenim razvojnim tokovima, gdje ljudi žive u skladu s prirodom i 
          gdje se tradicionalne vrijednosti prenose na mlađe generacije kao temelj budućeg razvoja.
        </p>
        <p class="about__paragraph">
          Vidimo Podveležje kao prepoznatljivu destinaciju koja privlači posjetioce svojom 
          autentičnošću, očuvanom prirodom i bogatom kulturnom ponudom, a istovremeno pruža 
          kvalitetnu budućnost svojim stanovnicima.
        </p>
      </div>
    </div>
  </div>
</section>
